@page "/"

<PageTitle>Home</PageTitle>

<img class="logo" src="./Resources/nourishNET_onDkGreen.png" alt="nourishNetLogo"/><br /><br />

<h2 class="centeredText"><strong>Sharing Surplus, <br/>     Sustaining Communities</strong></h2><br/>

Thank you for helping fight hunger and reduce food waste!<br/><br/>

<div class="centeredText">
<h3>I am representing a...</h3>
<button class="btn btn-primary"><strong>FOOD BANK</strong></button>
<button class="btn btn-primary"><strong>GROCER</strong></button>
</div>