@page "/"

<PageTitle>Home</PageTitle>

<img class="logo" src="./Resources/nourishNET_onDkGreen.png" alt="nourishNetLogo"/><br /><br />

<h1 class="centeredText"><strong>Sharing Surplus, <br/>     Sustaining Communities</strong></h1><br/>

<div class="userButtons">
<h3>I AM REPRESENTING A...</h3>
<button class="btn btn-primary"><strong>FOOD BANK</strong></button>
<button class="btn btn-primary"><strong>GROCER</strong></button><br/><br/>
<a>
    <em>Thank you for helping fight hunger and reduce food waste!</em><br /><br/>
</a>
</div>